<a href="https://colab.research.google.com/github/Tariq3877/FORK-THIS-REPO/blob/main/00_Hello_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# CPU-> semiconductors, transistors 
#    -> hardware -> Motherboards, RAM, Processor

In [ ]:
# 0 and 1
# 10, 11, 12 ...
# 10 fingers-> decimal counting 

# 0.. 1
# On and Off logic---- True and False ---- 1 and 0
# Boolean

In [ ]:
# Gates-> Not (Invertor)
# Input Logic       Output Logic 
#  ON or True or 1      OFF or False or 0

#.  bulb1.   bulb2.       
# Input1.    Input2      And Gate     Or Gate     ExclusiveOR (XOR)
#.    0       0           0            0           0
#     0       1           0            1           1
#     1       0           0            1           1
#     1.      1.          1            1           0

In [ ]:
if(True and True):
  print("Blah blah1")#
# The above statement shows and function 1 and 1 so system see it true 
# as there is 1 of the 1
if(True and False):
  print("Blah blah2")
# The above statement shows " and " function 1 and 0 so system see it False
# as there is only 1 (true) not 2 ones.  
if(True or False):
  print("Blah blah3")
  # The above statement shows and function 1 " or " 1 so system see it trus 
# as there is 1 of the 1

Blah blah1
Blah blah3

In [ ]:
if((5>3) and (-2<-10)):
  print("Blah blah1")
if(( 9>8 or 0<-1) and (len("my shoes") < 5)):
  print("Blah blah2")
# The above Statement check length of "my shoes" as 7 as its consisted on
# 7 characters so 5 is lower than 7 and thus it make it a false statement.
if(True or False):
  print("Blah blah3")

Blah blah3

In [ ]:
len("ABCDEFG")

7

In [ ]:
# set theory -> { banana, banana, apple, apple}
# => { banana, apple } == { apple, banana}

In [ ]:
# Set -> UNORDERED, UNINDEXED
set1 = { 1.42, 'banana', 'banana', 0, False, 'Pikachu'}
print(set1)

{0, 1.42, 'Pikachu', 'banana'}

In [ ]:
set1[0] # should throw an error-> this is an UNINDEXED DATA STRUCTURE!

TypeError: ignored

In [ ]:
# list-> ORDERED, INDEXED
list1 = ['banana', 'banana', 0, False]
#.  index=.  0.      1.      2.  3 
#.  index=.  -4      -3      -2.  -1 
print(list1)
print(list1[3])

['banana', 'banana', 0, False]
False

In [ ]:
print(list1[-1])

False

In [ ]:
# Special Set-> Dictionary
# Unordered, Indexed 
# indexing happens through KEY - VALUE pairs
# list-> in case of a list, the index was automatically created
# in case of set, we can create OUR indexing

In [9]:
# Anything can be indexed! 
d1 = { 1 : 42,   
      "Pikachu": -42,
      False : "hello world"}
#  we can index a set and make it a dictionary and first input is the "key 
# and the second input is the " Value"
# print(d1["Pikachu"]) # Custom Indexing
print(d1[False]) # Custom Indexing

-42